@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(/images/bg2.webp);
    background-repeat: no-repeat;
    background-size: 215vh 47vw;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 30px;
    font-weight: 900;
}

.input-label {
    display: block;
    text-align: center;
    /* margin-left: 32%; */
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.input-box {
    display: block;
    width: 18%;
    margin-left: 40%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#check-button {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-size: 15px;
    background-color: black;
    color: white;
}

#output-container {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 20px;
    height: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer {
    text-align: center;
}

.img {
    max-width: 2.5rem
}

#list {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}

.list-inline {
    display: inline;
}