@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --primary-color : #7e22ce;
}

body{
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    margin: 2rem 0;
    font-weight: bolder;
    font-size: 30px;
}

.input-label{
    display: block;
    text-align: center;
    /* margin-left: 32%; */
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.input-box{
    display: block;
    width: 18%;
    margin-left: 40%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
#check-button{
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-size: 15px;
    background-color: var(--primary-color);
}

#output-container{
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 20px;
}